# Kafka
KAFKA_BOOTSTRAP=redpanda:9092

# OpenTelemetry
OTEL_EXPORTER_OTLP_ENDPOINT=http://jaeger:4317

# Optional SASL example
# KAFKA_SECURITY_PROTOCOL=SASL_PLAINTEXT
# KAFKA_SASL_MECHANISM=SCRAM-SHA-256
# KAFKA_USERNAME=demo-user
# KAFKA_PASSWORD=change-me
